/teste_de_unidade/nbproject/private/
/teste_de_unidade/build/
/teste_de_unidade/dist/
/teste_de_unidade_mokito/br.com.caelum.leilao.dominio/nbproject/private/
/teste-de-unidade/nbproject/private/
/teste-de-unidade/build/
/Mokito/nbproject/private/
/Mokito/build/
/Selennium/nbproject/private/
/Selennium/build/
/Alura/Hibernate/TestesDeIntegracao/nbproject/private/
/Alura/Hibernate/TestesDeIntegracao/build/
/Alura/Hibernate/RestAssurance/nbproject/private/
/Alura/Rest Assured/ProjetoRest/RestAssurance/nbproject/private/
/Alura/Rest Assured/ProjetoRest/RestAssurance/build/